# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Production build directories
dist/
dist-ssr/
build/

# Environment variables
.env
.env.*.local

# Local environment files
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
tmp/
temp/

# Coverage directory used by tools like Jest or Istanbul
coverage/

# Debug files
debug/
debug.log*

# TypeScript cache
*.tsbuildinfo

# Optional REPL history
.node_repl_history

# Parcel-bundler cache
.cache/

# MacOS Finder attributes
.AppleDouble
.LSOverride

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

